<h2>Crear Usuario</h2>

<form action="/Pizza/CrearPizza" method="post">
  <div class="form-group">
    <label for="nombre">Nombre</label>
    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el Nombre de la Pizza" name="nombre">
  </div>
  <div class="form-group">
    <label for="tipo">Tipo</label>
    <select class="custom-select" name="tipo" style="width: 100%;">
      <option value="Familiar">Familiar</option>
      <option value="Mediana">Mediana</option>
      <option value="Personal">Personal</option>
    </select>
  </div>
  <div class="form-group">
    <label for="precio">Correo</label>
    <input type="text" class="form-control" id="precio" placeholder="11.00" name="precio">
  </div>
  <div class="form-group">
    <input type="hidden" class="form-control" value="<%= id_user %>" name="id_user">
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h4>Tipo de Masa</h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="masa" id="fina" value="Masa Fina" checked>
          Masa Fina
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="masa" id="gruesa" value="Masa Gruesa">
          Masa Gruesa
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Ingrediente Principal</h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="principal" id="jamonP" value="Jamón" checked>
          Jamón
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="principal" id="pepperoniP" value="Pepperoni">
          Pepperoni
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="principal" id="tocinoP" value="Tocino">
          Tocino
        </label>
      </div>
    </div>
    <div class="col-sm-4">
      <h4>Ingrediente Adicional</h4>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="adicional" id="jamonA" value="Jamón" checked>
          Jamón
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="adicional" id="pepperoniA" value="Pepperoni">
          Pepperoni
        </label>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="radio" name="adicional" id="tocinoA" value="Tocino">
          Tocino
        </label>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">Crear Pizza</button>
  <button type="reset" class="btn btn-danger">Reiniciar Campos</button>
</form>

<script>
  $(document).ready(function() {

    $('input[type=radio][name=masa]').change(function() {

      var masaPrecio = 0;
      if (this.value == 'fina') {
        masaPrecio = 3;
      } else if (this.value == 'gruesa') {
        masaPrecio = 4;
      }

      var selecPrincipal = $('input[type=radio][name=principal]').filter(':checked').val();
      var principalPrecio = 0;
      if (selecPrincipal == "Jamón") {
          principalPrecio = 3;
      } else if (selecPrincipal == "Pepperoni") {
          principalPrecio = 4;
      } else {
          principalPrecio = 5;
      }

      var selecAdicional = $('input[type=radio][name=adicional]').filter(':checked').val();
      var adicionalPrecio = 0;
      if (selecAdicional == "Jamón") {
        adicionalPrecio = 3;
      } else if (selecAdicional == "Pepperoni") {
        adicionalPrecio = 4;
      } else {
        adicionalPrecio = 5;
      }

      var precioFinal = masaPrecio + principalPrecio + adicionalPrecio;

      $("#precio").attr("value", precioFinal);

    });
  });
</script>
