<h1>Bienvenidos</h1>
<br>
<div class="jumbotron">
  <h1>Pizzas Nu Horizons!</h1>
  <p>Crea pizzas acorde a tus gustos!!!</p>
  <p><a class="btn btn-primary btn-lg" href="/CrearUsuario" role="button">Registrarse</a></p>
</div>
